  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image" style="padding-left:15px">
          <img src="{{ themes_url 'dist/img/no-avatar.png' }}" class="img-circle" alt="User Image">
          <br />
          <div style="color:#fff">{{ global_login 'email' }}</div>
        </div>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">PANEL NAVIGATION</li>
        <li class="active treeview">
          <a href="{{ site_url '' }}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview" rel="Users">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
              <span class="label bg-yellow pull-right">2</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ site_url 'users' }}"><i class="fa fa-circle-o"></i> Users</a></li>
            <li><a href="{{ site_url 'users_group' }}"><i class="fa fa-circle-o"></i> Users Group</a></li>
          </ul>
        </li>
        <li>
		<a href="{{ site_url 'login/logout' }}" onclick="return confirm('{{ global_login 'email' }}, are you sure you want to logout?');">
			<i class="fa fa-sign-in"></i> <span>Logout</span>
		</a>
		</li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
