<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Discussions
      <small>Discussions ( {{ dataDiscussions.course }} )</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="#">Discussions</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Discussions ( {{ dataDiscussions.course }} )</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Thread ID</label>
            <div class="col-sm-10">
             : {{ dataDiscussions.discussionid }}
            </div>
          </div>
          <div style="clear: both;"></div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Course</label>
            <div class="col-sm-10">
             : {{ dataDiscussions.course }}
            </div>
          </div>
          <div style="clear: both;"></div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Question</label>
            <div class="col-sm-10">
             : {{ dataDiscussions.post_content }}
            </div>
          </div>
          <div style="clear: both;"></div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Thread Date</label>
            <div class="col-sm-10">
             : {{ get_date dataDiscussions.created_at 2 }}
            </div>
          </div>
          <div style="clear: both;"></div>
            <table id="sTableDiscussionsDetail" class="table table-bordered table-striped" src="discussions/ajax/get/?detail={{ discussionId }}">
              <thead>
                <tr>
                  <th>Discussion Id</th>
                  <th>Full Name</th>
                  <th>Comment</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                <tr>
                  <th>Discussion Id</th>
                  <th>Full Name</th>
                  <th>Comment</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
              <div class="box-footer">
                <button type="button" onclick="javascript:history.go(-1);" class="btn btn-default">Cancel</button>
              </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>